
body {
  background-color: #F4FBFB;
}
.space {
  padding: 30px 0;
}
.logo {
  height: 150px;
}
.logo.smaller {
  height: 90px;
}
h2 {
  color: #999;
  font-weight: 100;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 5px;
}
h6 {
  color: #7BC9CD;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 200;
}
p {
  font-weight: 300;
}
a {
  color: #7BC9CD;
}
a:hover {
  color: #308A8E;
}
.title {
  border-bottom: none;
  color:#333;
  text-transform: uppercase;
  font-weight: 100;
}
.card-action a {
  color: #7BC9CD!important;
}

/* ==============

masonry

============== */

.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.text-center {
  text-align: center;
}

/* ==============

NAV

============== */

nav {
  background-color: #A0CCCE;
}

.brand-logo {
  height: 65px;
  
}

.brand-logo img {
  height: 100%;
  vertical-align: middle;
}

nav li a.active {
  background-color: #6DA6A9;
}

/* ==============

Hero

============== */

.hero {
  height: 700px;
  position: relative;
  background-color: #fff;
}

.bottom-img {
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 50%;
  margin-left: -40%;
}